<div class="row">
    <div class="col">
        <h1 class="text-primary"> Nueva Lista </h1>
    </div>
    <div class="col text-end">
        <button class="btn btn-outline-light btn-sm" [routerLink]="['/listas']">Ver Listas Viejas</button>
    </div>
</div>
<div class="row pb-3">
    <div class="col-auto">
        Fecha: <span class="fw-bold text-primary"> {{ fecha | date:'dd-MM-yyyy'}}</span>
    </div>
    <div class="col text-end">
        @if (lugarSeleccionado().lugar) {
        Lugar: <span class="fw-bold text-primary"> {{ lugarSeleccionado().lugar }}</span>
        }
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="input-group">
            <label class="input-group-text bg-primary" style="--bs-bg-opacity: .2;" for="buscar_lugar">Buscar:</label>
            <input id="productoBuscador" type="text" [(ngModel)]="lugarcito" class="form-control"
                [ngbTypeahead]="buscarLugar" [inputFormatter]="formatoLug" [resultFormatter]="formatoLug"
                [editable]="true">
            <button class="btn btn-primary" (click)="seleccionaLugar(lugarcito)">Seleccionar Lugar</button>
        </div>
    </div>
</div>
<div class="row ">

    <div class="col text-end ">
        TOTAL:<span class="fs-3 text-primary"> {{ grantotal | currency}}</span>

    </div>
</div>

<div class="row my-3">
    <div class="col">
        <div class="list-group">
            @for (item of lalista(); track $index) {
            @if(item?.cantidad !== 0 || item?.precio !== 0){
            <div class="list-group-item">
                <div class="row">
                    <div class="col">
                        {{ item.cantidad }} x
                        {{ item.precio | currency }}
                    </div>
                    <div class="col-auto text-end">
                        {{item.subtotal | currency}}
                    </div>
                    <div class="col-auto">
                        <a class=" text-danger" (click)="empezarABorrar(eliminarItem, item, $index)">
                            <i class="bi bi-cart-dash"></i>
                        </a>
                    </div>
                </div>
            </div>
            }}
        </div>
    </div>
</div>

<div class="row align-content-center align-items-center">
    <div class="col">
        <div class="form-floating">
            <input id="cantidad" [(ngModel)]="cantidad" type="number" class="form-control" (input)="calcularTotal()">
            <label for="cantidad"> Cantidad</label>
        </div>
    </div>
    <div class="col">
        <div class="form-floating">
            <input id="precioUnitario" [(ngModel)]="metiendo" type="tel" class="form-control" (input)="calcularTotal()"
                #precioUnitario [inputMask]="currencyInputMask">
            <label for="precioUnitario"> Precio</label>
        </div>
    </div>
    <div class="col-auto">
        <a class="text-primary text-secondary-hover fs-1" (click)="meterEnLaLista()">
            <i class="bi bi-cart-plus"></i>
        </a>
    </div>
</div>


<div class="row pt-3">
    <div class="col">
        <button class="btn btn-outline-light btn-sm"
            [disabled]="(lalista().length == 0 || lugarSeleccionado().id == undefined || metiendo !== 0)?true:false"
            (click)="guardarLista()">Guardar Lista</button>
    </div>
    <div class="col text-end ">
        TOTAL:<span class="fs-3 text-primary"> {{ totalvan | currency}}</span>
    </div>
</div>

<ng-template #eliminarItem let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title">Borrar Permanentemente</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="abridor.dismiss()"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row align-items-center align-co">
            <div class="col">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col">
                                {{ paborrar.cantidad }} x
                                {{ paborrar.precio | currency }}
                            </div>
                            <div class="col-auto text-end">
                                {{paborrar.subtotal | currency}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto text-end">
                <button type="button" class="btn btn-outline-danger"
                    (click)="eliminarDefinitivamente(paborrar)">Borrar</button>
            </div>
        </div>
    </div>
</ng-template>