<div class="modal-header">
    <div class="row w-100">

        <div class="col-auto">
            {{lista.fecha | date:"dd/MM/yyyy"}}
        </div>
        <div class="col text-primary fw-bold">
            {{ lista.lugar.lugar }}
        </div>
        <div class="col-auto text-end">
            <button type="button" class="btn-close" aria-label="Close" (click)="abrido.dismiss('Cross click')"></button>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col text-end fs-3">
            Total: <span class="text-primary fw-bold"> {{ lista.total | currency }}</span>
        </div>
    </div>
    <div class="row">
        <div class="list-group-flush">
            @for (item of lista.lista; track $index) {
            <div class="list-group-item">
                <div class="row">
                    <div class="col">
                        {{ item.cantidad }} x {{ item.precio | currency }}
                    </div>
                    <div class="col-auto text-end">
                        {{ item.subtotal | currency }}
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col text-end">
            <button class="btn btn-danger" (click)="abrido.dismiss('eliminar')">Eliminar</button>
        </div>
    </div>
</div>